@font-face{
    font-family: VaniBold;
    src: url('Vanib.ttf');
}

@font-face{
    font-family: Vani;
    src: url('Vani.ttf');
}

@font-face{
    font-family: QuattrocentoSans;
    src: url('QuattrocentoSans-Regular.ttf');
}

@font-face{
    font-family: QuattrocentoSansBold;
    src: url('QuattrocentoSans-Bold.ttf');
}